* {
  font-family: sans-serif;
}

body {
  margin: 0
}

.app-header {
  height: 60px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 32px;
  box-shadow: 0 1px 5px #ccc;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
}

.app-header > * {
  margin: 0 5px;
}

.app-header h1 {
  font-size: 15px;
  font-weight: 400;
}

.app-body {
  position: absolute;
  margin: 0 auto;
  height: calc( 100% - 60px );
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.header-links a {
  margin: 0 5px;
}

.list-table {
  border-collapse: collapse;
  margin: 0 auto;
}


.list-table td, .list-table th {
  padding: 10px 20px;
  border: 1px solid #ccc;
  max-width: 210px;
  word-break: break-all;
}

.list-table tr:first-of-type {
  border-bottom: 1px solid #aaa;
}

.load-more-btn:hover {
  color: #938fff
}

.data-bottom > span {
  color: #b7b7b7;
  padding: 15px 0
}

.data-bottom > * {
  display: block;
  padding: 10px 0
}